/* PAGE */
@page {
  /* A4 size (210mm × 297mm) Portrait */
  size: 210mm 297mm;
  margin: 6mm 16mm 26mm;

  /* @bottom-left {
    content: "QMS-QMR-002 Rev 03 2024.02.08";
    font-size: 1.3rem;
  } */
}

:root {
  --green: #008007;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* SECTION */
section {
  break-after: always;
}

/* TITLE PAGE */
.title__page {
  color: var(--green);
}

.title__page--logo-and-title {
  position: absolute;
  top: 30%;
  right: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.title__page--logo-and-title img {
  width: 170px;
}

.title__page--logo-and-title h1 {
  font-size: 3.2rem;
}

.title__page--footer {
  position: absolute;
  bottom: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.title__page--footer h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2rem;
}

.title__page--footer h3 {
  font-size: 1.9rem;
}

/* TABLE OF CONTENTS */
.toc header {
  position: relative;
}

.toc header h1 {
  position: absolute;
  left: 35%;
  padding-top: 5em;
  font-size: 1.9rem;
}

.toc header img {
  position: absolute;
  right: 0;
  width: 80px;
}

.tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14em;
}

.table__header {
  display: flex;
  gap: 22em;
  width: 80%;
  margin-right: 7em;
}

.table__header h2 {
  font-size: 1.6rem;
}

.contents__table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 4em;
  font-size: 1.4rem;
}

.contents__table td {
  border: 1px solid black;
  padding: 0.1em 0.6em;
}

.contents__table .content .name {
  display: flex;
  align-items: baseline;
}

.contents__table .content .dots {
  flex: 1;
  border-bottom: 2px dotted black;
  transform: translateY(-2px);
}

.contents__table .content .number {
  border: 1px solid black;
  padding-right: 2em;
}