/* RESET */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
}

img, 
picture, 
svg, 
video {
  display: block;
  width: 100%;
}

/* img {
  width: 74.5px;
  height: 74.5px;
} */

:root {
  --green: #215C3D;
}

@page {
  /* A4 size (210mm × 297mm) scaled by 1.5x */
  /* size: 315mm 445.5mm; */
  size: 210mm 297mm;
  margin: 0;
}

/* TYPOGRAPHY */
@font-face {
  font-family: 'Nimbus Sans L';
  src: url(
        '/citizens_charter/fonts/NimbusSanL-Regu.ttf'
        ) 
       format('truetype');
}

html {
  font-family: 'Nimbus Sans L';
  font-size: 62.5%;
  letter-spacing: .2px;
}

p {
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.8em;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.6rem;
}

li {
  font-size: 1.6rem;
  margin-left: 1em;
  margin-bottom: 1em;
}

/* HEADER */
header {
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 7%; */
  border-bottom: 3px solid var(--green);
  padding: 0em 1.8em;
}

.header__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image--spc-logo {
  width: 74.5px;
  height: 74.5px;
}

.image--office-logo {
  width: 101px;
  height: 101px;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.title--top {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -0.6px !important;
  white-space: nowrap;
}

.title--bottom {
  font-size: 3.0rem;
  font-weight: 800;
  letter-spacing: -0.6px !important;
  white-space: nowrap;
  color: var(--green);
}

.header__office {
  position: absolute;
  right: 0;
  top: 2.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  /* padding: 1em; */
  width: 42%;
  height: 35px;
  background-color: var(--green);
}

.header__office::before {
  position: absolute;
  left: -23px;
  top: 0;
  content: " ";
  display: block;
  width: 40%; 
  height: 100%; 
  background-color: var(--green);
  transform: skewX(40deg);
  z-index: -10;
}

.office--name {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  z-index: 10;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.image--footer {
  position: relative;
  width: 100%;
  z-index: -10;
}

.footer__address {
  position: absolute;
  left: 43px;
  bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  font-size: 1.2rem;
  color: white;
  z-index: 10;
}

/* MAIN */
main {
  margin: 16em 6em 0em;
}